<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/createView.css">
    <link rel="stylesheet" href="/css/displayView.css">
</head>

<body>
   <%- include('includes/nav.ejs') %>
    <main>
        <form class="add-form" action="add-data" method="POST">
            <div class="form-control">
                <label for="title"></label>
                Username<input type="text" placeholder="Username" name="user" id="title">
                <i class="mdi mdi-24px mdi-account-circle"></i>
            </div>
            <div class="form-control">
                 Password<input type="password" placeholder="Password" name="pass" id="title1">
                 <i class="mdi mdi-24px mdi-lock-question"></i>
            </div>

            <button class="btn" type="submit">Add Data</button>
        </form>
    </main>
</body>
</html>