.add-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid #212121;
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid #02318a;
    color: #6375da;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #5217c0;
    color: white;
}
input[type=text]:focus
{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.form-control input[type=text]
{
    padding-left: 40px;
}
.form-control input[type=password]
{
    padding-left: 40px;
}
.form-control
{
    position: relative;
}
.form-control i
{
    position:absolute;
    left:0;
    top:7px;
    padding:12px 7px;
    color: dodgerblue;
}
